* { 
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #f1f1f1;
}

th{
	font-weight: 900;
}

tr:hover {
  background-color: #111;
}

#loadModal {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input, label {
    display:inline-block;
}


.logo{
	font-weight: 900;
	font-size: 75px;
	letter-spacing: 5px ; 
}


h1{
	font-weight: 900;
	text-align: left;
	font-size: 16px;
}

select.form-control{
    /*background: #000;*/
    background-color: transparent;
    color:#AAA;
    /*background: transparent;*/
    font-weight: 100;
	padding-left: 0px;
}

label{
	font-weight: 400;
}

button[type='submit']{
  background: transparent;
  border: none;
  /*border-bottom: thin solid #FFF;*/
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 900;
  color: #AAA;	
}

input[type='text'], input[type='number'], input[type='email'], input[type='date'], input[type='file'], input[type="password"]{
	/*background-color: #000000;
	background: #000000;*/
	color: #AAAAAA;
	font-weight: 100;
	padding-left: 0px;
}

html {
  /* for demo purposes only */
  margin: 2em;
}

input[type="text"], input[type="email"], input[type="number"], input[type="file"], input[type="date"], input[type='password'],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: thin solid #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="file"]:focus, input[type="date"]:focus, input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #FFF;
}

span {
	color: red;
	background-color: #000000;
}


/*form, div{
	background-color: #000000;
}*/

/*body { 
	background-color: #000000;
}*/

html {
	background-size: inherit;
	/* s*/
   /*background-image: url("/public/bg.png");*/
   /*background-color: #cccccc;*/
}