<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fort CV Submit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="bg.png">
​
<div class="container">	
  <h1 style="font-size: 50px; font-weight: 900; border-bottom: 1px solid #fff; display: inline-block; padding-bottom: 20px;">THANK YOU</h1>

  <div style="margin-left: 100px; margin-top: 200px; margin-bottom: 200px;">
  	<b> <%= person %> </b>, we've got your details and we will be in contact with you soon.
  </div>

  <div>
  	<img src="Fort-Logo.png" class="img-responsive" style="border-top: 1px solid #fff; height: 10%; width: 10%; padding-top: 10px;">	
  </div>
</div>

</body>
</html>
​
